<nav class="mb-10 flex justify-between items-center">
  <%= link_to "Personal Finances", main_app.root_path %>

  <ul class="flex space-x-4">
    <% if authenticated? %>
      <li><%= Current.user.email_address %></li>
      <li><%= button_to "Sign out", users.session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", users.new_session_path %></li>
    <% end %>
  </ul>
</nav>
